{% extends 'accounts_base_html.html' %}
{% block title %}
  <title>Password Reset Sent</title>
{% endblock %}
{% block body %}
  <section class="container">
    <div class="form-container">
      <h1 class="opacity">Password Reset Email Sent</h1>
      <h2>If the email address you provided is registered, you will receive a password reset link shortly.</h2>
      <h2>Please check your inbox and follow the instructions.</h2>
      <a href="{% url 'home' %}" class="opacity">Return to Home</a>
      <div class="register-forget opacity">
        <p>
          Need further help? <a href="/contact" style="color: #ffffff; text-decoration: underline;">Contact Us</a>
        </p>
      </div>
    </div>
  </section>
{% endblock %}
