{% extends 'accounts_base_html.html' %}
{% block title %}
  <title>Reset Password</title>
{% endblock %}
{% block body %}
  <div class="container">
    <div class="login-container">
      <div class="circle circle-one"></div>
      <div class="circle circle-two"></div>

      <div class="form-container">
        <h1 class="opacity">Reset Password</h1>
        <p class="opacity">Enter your new password below.</p>

        <form method="post">
          {% csrf_token %}
          <input type="password" name="new_password1" placeholder="NEW PASSWORD" />
          <input type="password" name="new_password2" placeholder="CONFIRM" />
          <button type="submit">Reset Password</button>
        </form>

        <div class="register-forget opacity">
          <p>
            <a href="/">Back to Home</a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
