{% extends 'accounts_base_html.html' %}
{% block title %}
<title>Password Reset</title>
{% endblock %}
{% block body %}
<div class="container">
    <div class="login-container">
        <div class="circle circle-one"></div>
        <div class="circle circle-two"></div>

        <div class="form-container">
            <h1 class="opacity">Reset Your Password</h1>
            <p class="opacity">
                Enter your email address below to receive a password reset link.
            </p>

            <form method="post">
                {% csrf_token %}
                <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="EMAIL" >
                <button type="submit" class="opacity">Send Reset Link</button>
            </form>

            <div class="register-forget opacity">
                <p><a href="{% url "home" %}">Back to Home</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

