{% extends 'accounts_base_html.html' %}
{% load static %}
{% block title %}
  <title>CHANGE PASSWORD</title>
{% endblock %}
{% block body %}
  <section class="container">
    <div class="login-container">
      <div class="circle circle-one"></div>
      <div class="form-container">
        <img src="{% static 'img\illustration.png' %}" alt="illustration" class="illustration" />
        <h1 class="opacity" style="font-size: 32px; font-stretch: 10px;"><span style="font-size: 24px;">CHANGE</span><br />PASSWORD</h1>

        <form method="post" action="{% url 'change_password' %}">
          {% csrf_token %}
          <input type="password" name="old_password" placeholder="OLD PASSWORD" />

          <input type="password" name="new_password1" placeholder="NEW PASSWORD" />
          <input type="password" name="new_password2" placeholder="CONFIRM PASSWORD" />
          <button class="opacity">CHANGE</button>
        </form>
        
        <div class="register-forget opacity">
          <a href="{% url 'signup' %}">SIGNUP</a>
          <a href="{% url 'password_reset' %}">FORGOT PASSWORD</a>
        </div>
      </div>
      <div class="circle circle-two"></div>
    </div>
    <div class="theme-btn-container"></div>
  </section>
{% endblock %}
